# Игнорировать файлы системы macOS
.DS_Store

# Игнорировать все временные файлы
*~
*.swp

# Игнорировать директории
__pycache__/
*.pyc
# Игнорировать папку виртуального окружения
venv/

# Игнорировать папку для временных файлов
tmp/

# Игнорировать папку для логов
logs/
